<DOCTYPE html>
<html>
<head>
    <title>Wellderly Query</title>
    <link rel="stylesheet" type="text/css" href="{{static_url("css/style.css")}}"/>
    <script src="{{static_url("js/jquery-1.10.2.js")}}"></script>
    <script src="{{static_url("js/jquery-ui-1.10.4.custom.min.js")}}"></script>
</head>
<body>
    <h1><a href="/">Wellderly Query</a></h1>
    <hr>
    <br>
    <div>
    <form>
    
    <p><span class='word1'>CHR:&nbsp;&nbsp;</span>
        <select name="genechr" id="genechr">
            <option value="0">choose</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="M">M</option>
            <option value="X">X</option>
        </select>
    </p>
    
    <p><span class='word1'>POS:&nbsp;&nbsp;</span><input style="width:100px;" id="posstart" name="posstart" type="text">&nbsp;-&nbsp;<input style="width:100px;" id="posend" name="posend" type="text"></p>
    
    <p><span class='word1'>VARTYPE:&nbsp;&nbsp;</span>
        <select id="vartype" name="vartype">
            <option value="0">choose</option>
            <option value="del">del</option>
            <option value="ins">ins</option>
            <option value="snp">snp</option>
        </select>
    </p>
    
    <p><span class='word1'>REF:&nbsp;&nbsp;</span><input style="width:50px;" id="generef" name="generef" type="text"></p>
    
    <p><input class="button" id="search" name="search" type="button" style="font-weight:bold;" value="SEARCH"></p>
    <span class="error" id="error"></span></p>
    </form>
    </div>
<script src="{{static_url("js/search.js")}}"></script>
</body>
</html>

