<DOCTYPE html>
<html>
    <head>
        <title>Query Variants</title>
        <link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}">
        <script src="{{static_url("js/jquery-1.10.2.js")}}"></script>
        <script src="{{static_url("js/jquery-ui-1.10.4.custom.min.js")}}"></script>
    </head>
    <body>
    <h1><a href="/">Query Variants</a></h1>
    <hr>
    <br>
    <div>
    {% if json %}
    <p><a href="{{json}}">Click here to get JSON</a></p>
    {% end %}
    </div>
    <div>
    {% if result %}
        <table width="960">
        <tr>
            <th>chr</th>
            <th>pos</th>
            <th>vartype</th>
            <th>ref</th>
            <th>genotypes</th>
            <th>genotype_freqs</th>
            <th>allele_freqs</th>
        </tr>
        {% for every_line in result %}
            <tr>
                <td>{{every_line['chr']}}</td>
                <td>{{every_line['pos']}}</td>
                <td>{{every_line['vartype']}}</td>
                <td>{{every_line['ref']}}</td>
                <td><!--{{every_line['genotypes']}}-->
                    {% for k in every_line['genotypes'] %}
                        <p>{{k}}:&nbsp;&nbsp;{{len(every_line['genotypes'][k])}}</p>
                    {% end %}
                </td>
                <td><!--{{every_line['genotype_freqs']}}-->
                    {% for m in every_line['genotype_freqs'] %}
                        <p>{{m}}:&nbsp;&nbsp;{{every_line['genotype_freqs'][m]}}</p>
                    {% end %}
                </td>
                <td><!--{{every_line['allele_freqs']}}-->
                    {% for n in every_line['allele_freqs'] %}
                        <p>{{n}}:&nbsp;&nbsp;{{every_line['allele_freqs'][n]}}</p>
                    {% end %}
                </td>
            </tr>
        {% end %}
        </table>

        <div>
        <p>
        {%if currentpage > 1 %}
        <input type="button" value="PrePage" onclick="prePage()">
        {% end %}
        {% if pages>1 and currentpage<pages %}
        <input type="button" value="NextPage" onclick="nextPage()">
        {% end %}
        </div>

    {% else %}
        <p>Sorry, I can't find data as your conditions. You can change the conditions, then try again.</p>
    {% end %}
    </div>
<script src="{{static_url("js/search.js")}}"></script>
    </body>
</html>

