<DOCTYPE html>
<html>
    <head>
        <title>Query Variants</title>
        <link title="将较长的行自动换行" href="resource://gre-resources/plaintext.css" type="text/css" rel="alternate stylesheet">
        <!--link rel="stylesheet" type="text/css" href="{{ static_url('css/style.css')}}"-->
    </head>
    <body>
    <h1><a href="/">Query Variants</a></h1>
    <hr>
    <br>
    <div>
    {% if result %}
        {% for every_line in result %}
            <pre>{{every_line}}</pre>
        {% end %}
    {% else %}
        <pre>There is no data</pre>
    {% end %}
    </div>

    <!--div>
    {% if result %}
        <table width="960">
        <tr>
            <th>JSON</th> 
        </tr>
        {% for every_line in result %}
            <tr>
                <td>{{every_line}}</td>
            </tr>
        {% end %}
        </table>
    {% else %}
        <p>There is no data</p>
    {% end %}
    </div>
    <div-->
    </body>
</html>

